@use "mixin" as m;

// ------------------------------------------------
//  ファイル名：_main.scss
//  機能：webページ全体のスタイルを記述する
// ------------------------------------------------

// ----------------------
//  レイアウト
// ----------------------
// ヘッダー
.ly_header {
  width: 100vw;
}

.ly_header_inner {
  max-width: 1000px;
}

// コンテンツ

// フッター
.ly_footer {
  width: 100vw;
  padding: 30px 0;
}

// ----------------------
//  ヘッダー
// ----------------------



// ----------------------
//  フッター
// ----------------------
.el_copyRight {
  // 余白
  margin: 0;

  // 文字
  font-size: 0.875rem;
  font-weight: bold;
  @include m.letterSpacingAdjustment(0.05em);
}

